<html>
    <head>
    <title>Tiny Flask App</title>
    </head>
    <body>
        <h2>Well, hello world!</h2>
        <p>
        This is a sample app,on how to create a web or api app with python flask
        </p>
        <p>
        This app also replies you from <a href="/api?input=3">/api</a> - address,
        just to give an example of how to use flask as API app. Pass in a parameter "input"
        to get a response. Like <a href="/api?input=5"></a>https://myappaddress.azurewebsites.net/api?input=5</a>
        </p>
    </body>
</html>