<html>
    <head>
    <title>My Tiny Flask App</title>
    </head>
    <body>
        <h2>Well, hello world!</h2>
        <p>
        This is a sample app, how to publish python flask app
        on Azure Web App for Containers.
        </p>
        <p>
        This app also replies you from <a href="/api?input=3">/api</a> - address,
        just to give an example of how to use flask as API app. Pass in a parameter "input"
        to get a response. Like <a href="/api?input=5"></a>https://myappaddress.azurewebsites.net/api?input=5</a>
        </p>
        <p>
        Read the related blog article here!
        </p>
    </body>
</html>